i, b {
  font-style: normal;
  font-weight: normal;
}

body, td, input, textarea {
  font-family: source sans pro, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.fade {
  transition: all 300ms linear 700ms;
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.button {
  display: inline-block;

  background: #eee;
  color: #777;
  border-radius: 2px;

  padding: 8px 10px;
  font-weight: bold;
  text-align: left;
}

.button.play:before {
  content: '\25b6';
}

.button:hover {
  background: #2d9;
  color: #fff;
}

.button:active {
  background: #2d9;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}

.controls {
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
  color: #666;
}

.controls .button {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}

.controls i {
  color: #999;
}

.controls b {
  color: #29d;
  font-weight: bold;
}

.controls {
  font-size: 0.9em;
}

.page-header {
  margin: 1.5em auto;
  text-align: center;
  max-width: 400px;
  padding: 0 20px;
}

.page-header h1 {
  font-size: 2.0em;
  text-align: center;
  font-weight: 100;
  line-height: 1.3;
  color: #333;
  margin: 0;
}

.page-header p {
  line-height: 1.4;
  font-size: 1.1em;
  font-style: italic;
  color: #888;
}

.page-header h1 i {
  color: #aaa;
  font-style: normal;
  font-weight: 100;
}

@media (min-width: 480px) {
  .page-header h1 {
    font-size: 3em; }
  .page-header {
    margin: 3.5em auto;
  }
}
